@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* line 3, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

/* line 11, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
ul {
  list-style: none; }

/* line 15, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
a {
  text-decoration: none; }

/* line 19, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
h2 {
  font-weight: bolder;
  font-size: 40px;
  color: #000;
  margin-bottom: 60px; }

/* line 26, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
h3 {
  font-weight: bold;
  color: #000;
  font-size: 24px;
  margin-bottom: 20px; }

/* line 33, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
h4 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
  color: #000; }

/* Animation */
@keyframes slide-in {
  0% {
    transform: translateX(300px); }
  100% {
    transform: translateX(0); } }

@keyframes slide-out {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(300px); } }

/* line 62, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.slide-in {
  animation: slide-in 500ms ease; }

/* line 66, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.slide-out {
  animation: slide-out 500ms ease; }

/* Multiple section idgaf */
/* line 72, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.about,
.services,
.brands,
.contact-us {
  padding: 50px 20px; }
  @media (min-width: 900px) {
    /* line 72, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .about,
    .services,
    .brands,
    .contact-us {
      padding: 100px 20px; } }

/* Navigation Bar */
/* line 84, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
header {
  height: 79px;
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3); }
  /* line 92, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  header nav {
    display: flex;
    align-items: center;
    padding: 25px 10px; }
    /* line 97, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    header nav img {
      height: 25px; }
    /* line 101, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    header nav i {
      z-index: 6;
      font-size: 24px;
      flex: 1;
      text-align: right; }
      @media (min-width: 800px) {
        /* line 101, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
        header nav i {
          display: none !important; } }
    /* line 111, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    header nav ul {
      flex: 1;
      justify-content: flex-end;
      display: none; }
      @media (min-width: 800px) {
        /* line 111, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
        header nav ul {
          display: flex; } }
      /* line 119, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      header nav ul a {
        color: #000;
        font-size: 14px;
        font-weight: 500;
        padding: 0 15px;
        margin-left: 15px; }
        /* line 125, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
        header nav ul a:hover {
          color: #00aced; }

/* background */
/* line 135, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.8;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1; }

/* line 147, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s; }

/* line 152, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.bg3 {
  animation-duration: 5s; }

/* Modal */
/* line 158, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  /* line 169, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .modal-wrap .modal {
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    background-color: #fff; }
    /* line 175, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .modal-wrap .modal img {
      width: 200px;
      height: auto;
      margin-bottom: 16px; }
    /* line 181, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .modal-wrap .modal p:nth-child(2) {
      font-size: 24px;
      margin-bottom: 8px; }
    /* line 186, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .modal-wrap .modal .btn {
      margin-top: 24px; }

/*Mobile Navigation*/
/* line 194, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.mobile-bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 4;
  right: 0; }
  /* line 202, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .mobile-bg i {
    position: absolute;
    color: #fff;
    left: 20px;
    top: 20px;
    font-size: 24px; }
  /* line 210, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .mobile-bg ul {
    position: absolute;
    padding: 20px;
    width: 300px;
    right: 0;
    background-color: rgba(49, 196, 190, 0.99);
    height: 100%; }
    /* line 218, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .mobile-bg ul a {
      color: #fff;
      font-weight: 500; }
    /* line 223, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .mobile-bg ul li {
      padding: 10px 0;
      font-size: 15px; }

/* Hero */
/* line 232, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.hero {
  padding: 150px 0;
  background-color: #fff;
  display: flex;
  justify-content: center; }
  /* line 238, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .hero .flex-row {
    padding: 0 32px;
    gap: 32px;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 1000px) {
      /* line 238, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .hero .flex-row {
        flex-direction: row; } }
  /* line 248, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .hero h2 {
    color: #000;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 32px;
    text-align: center; }
    @media (min-width: 1000px) {
      /* line 248, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .hero h2 {
        text-align: initial;
        font-size: 50px; } }
    /* line 259, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .hero h2 u {
      color: #25aae1; }
  /* line 264, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .hero .font200 {
    font-weight: bolder; }
  /* line 268, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .hero .left {
    flex: 1;
    order: 2;
    justify-content: center;
    align-items: center; }
    @media (min-width: 1000px) {
      /* line 268, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .hero .left {
        order: 1; } }
  /* line 278, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .hero .buttons {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 1000px) {
      /* line 278, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .hero .buttons {
        flex-direction: row; } }
  /* line 287, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .hero img {
    display: flex;
    flex: 1;
    order: 1;
    width: 50%; }
    @media (min-width: 1000px) {
      /* line 287, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .hero img {
        order: 2; } }

/* Info Section */
/* line 300, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.about {
  background-color: #fff; }
  /* line 303, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .about img {
    width: 60%; }
    @media (min-width: 900px) {
      /* line 303, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .about img {
        width: 100%; } }
  /* line 310, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .about h2,
  .about h3 {
    text-align: center; }
  /* line 315, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .about p {
    line-height: 1.7; }
  /* line 319, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .about .flex-row {
    gap: 50px;
    flex-direction: column; }
    @media (min-width: 900px) {
      /* line 319, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .about .flex-row {
        flex-direction: row; } }
  /* line 327, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .about .left,
  .about .right {
    flex: 1; }
  /* line 333, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .about .left .flex-row {
    gap: 0;
    flex-direction: column;
    margin-top: 32px;
    align-items: center; }
    @media (min-width: 500px) {
      /* line 333, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .about .left .flex-row {
        flex-direction: row; } }
  /* line 343, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .about .left .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; }
    @media (min-width: 500px) {
      /* line 343, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .about .left .info {
        margin-top: 0;
        align-items: initial; } }
    /* line 354, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .about .left .info p {
      color: #444;
      font-size: 14px; }
  /* line 360, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .about .left i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 2px solid #25aae1;
    border-radius: 50%;
    transition: 500ms ease all;
    color: #25aae1;
    font-size: 24px; }
    @media (min-width: 500px) {
      /* line 360, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .about .left i {
        margin-right: 16px; } }
    /* line 375, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .about .left i:hover {
      color: #fff;
      border: none;
      background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
      box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75); }

/* line 392, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.about-1 .left {
  text-align: center; }
  @media (min-width: 500px) {
    /* line 392, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .about-1 .left {
      text-align: initial; } }

/* line 402, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.about-1 .right,
.about-3 .right {
  display: flex;
  justify-content: center; }
  @media (min-width: 900px) {
    /* line 402, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .about-1 .right,
    .about-3 .right {
      align-items: start; } }

/* line 412, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.about-2 .left {
  order: 2;
  display: flex;
  justify-content: center; }
  @media (min-width: 900px) {
    /* line 412, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .about-2 .left {
      order: 1;
      align-items: start; } }

/* line 422, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.about-2 .right {
  order: 1; }
  @media (min-width: 900px) {
    /* line 422, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .about-2 .right {
      order: 2; } }

/* line 430, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.about-3 {
  margin-bottom: 20px; }

/* line 435, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.services .container {
  max-width: 900px; }

/* line 439, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.services h2 {
  text-align: center;
  color: #fff; }

/* line 444, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.services .grid {
  max-width: 600px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  gap: 32px;
  row-gap: 50px; }
  @media (min-width: 800px) {
    /* line 444, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .services .grid {
      grid-template-columns: repeat(2, 1fr);
      max-width: 100%; } }

/* line 456, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.services .flex-row {
  cursor: pointer;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  border-radius: 12px;
  padding: 30px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  transition: 500ms ease all;
  text-align: center; }
  /* line 467, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .services .flex-row:hover {
    transform: translateY(-20px); }
  /* line 471, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .services .flex-row h3 {
    font-size: 18px;
    font-weight: bolder;
    text-align: center; }
  /* line 477, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .services .flex-row p {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.7; }

/* Brands */
/* line 488, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.brands h2 {
  text-align: center;
  color: #fff;
  font-weight: 700; }

/* line 494, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.brands .flex-row {
  flex-wrap: wrap; }

/* line 498, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.brands .col {
  max-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #d6eaff;
  border-right: 1px solid #d6eaff;
  border-left: 1px solid #d6eaff;
  background-color: #fff;
  padding: 64px;
  flex-basis: 100%; }
  @media (min-width: 500px) {
    /* line 498, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .brands .col {
      border-left: none;
      flex-basis: 50%; } }
  @media (min-width: 900px) {
    /* line 498, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .brands .col {
      flex-basis: 25%; } }
  /* line 518, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .brands .col:hover img {
    transform: scale(1.4); }
  /* line 523, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .brands .col img {
    max-width: 100%;
    height: auto;
    transition: 500ms ease all; }
  /* line 529, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .brands .col .col:nth-child(1) {
    border-top: 1px solid #d6eaff; }
  @media (min-width: 500px) {
    /* line 533, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .brands .col .col:nth-child(2) {
      border-top: 1px solid #d6eaff; } }
  @media (min-width: 500px) {
    /* line 539, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .brands .col .col:nth-child(odd) {
      border-left: 1px solid #d6eaff; } }
  @media (min-width: 900px) {
    /* line 539, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .brands .col .col:nth-child(odd) {
      border-left: none; } }
  @media (min-width: 900px) {
    /* line 548, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .brands .col .col:nth-child(3),
    .brands .col .col:nth-child(4) {
      border-top: 1px solid #d6eaff; } }
  @media (min-width: 900px) {
    /* line 555, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .brands .col .col:nth-child(1),
    .brands .col .col:nth-child(5) {
      border-left: 1px solid #d6eaff; } }

/*Contact*/
/* line 566, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.contact-us {
  background-color: #fff; }
  /* line 569, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .contact-us h2,
  .contact-us p {
    text-align: center; }
  /* line 574, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .contact-us p {
    margin-bottom: 26px; }
  /* line 578, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .contact-us input,
  .contact-us button {
    display: block; }
  /* line 583, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .contact-us input {
    width: 100%;
    padding: 8px;
    border: 1px solid #0f480c;
    border-radius: 10px; }
    /* line 589, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .contact-us input:focus {
      outline: none; }
  /* line 594, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .contact-us input {
    margin-bottom: 16px; }
  /* line 598, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .contact-us form {
    max-width: 700px;
    margin: 0 auto; }
  /* line 603, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .contact-us .flex-row {
    flex-direction: column; }
    @media (min-width: 500px) {
      /* line 603, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .contact-us .flex-row {
        flex-direction: row;
        gap: 32px; } }
  /* line 611, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .contact-us .checkbox {
    display: flex;
    flex-direction: column; }

/* line 617, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.contact-ustwo {
  background-color: #fff; }
  /* line 620, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .contact-ustwo h2,
  .contact-ustwo p {
    text-align: center; }
  /* line 625, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .contact-ustwo p {
    margin-bottom: 26px; }
  /* line 630, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .contact-ustwo input {
    width: 100%;
    padding: 8px;
    border: 1px solid #0f480c;
    border-radius: 10px; }
    /* line 636, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .contact-ustwo input:focus {
      outline: none; }
    /* line 640, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .contact-ustwo input .button {
      display: flex; }
  /* line 645, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .contact-ustwo .input {
    margin-bottom: 16px; }
  /* line 650, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .contact-ustwo form {
    max-width: 700px;
    margin: 0 auto; }
  /* line 655, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .contact-ustwo .flex-row {
    flex-direction: column; }
    @media (min-width: 500px) {
      /* line 655, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .contact-ustwo .flex-row {
        flex-direction: row;
        gap: 32px; } }
  /* line 663, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .contact-ustwo .checkbox {
    display: flex;
    flex-direction: column; }

/* footer */
/* line 671, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.site-footer {
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #fff; }

/* line 677, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.site-footer hr {
  border-top-color: #fff;
  opacity: 0.5; }

/* line 681, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.site-footer hr.small {
  margin: 20px 0; }

/* line 684, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px; }

/* line 691, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.site-footer a {
  color: #fff; }

/* line 694, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.site-footer a:hover {
  color: #3e851c;
  text-decoration: none; }

/* line 698, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.footer-links {
  padding-left: 0;
  list-style: none; }

/* line 702, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.footer-links li {
  display: block; }

/* line 705, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.footer-links a {
  color: #fff; }

/* line 708, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none; }

/* line 714, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.footer-links.inline li {
  display: inline-block; }

/* line 717, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.site-footer .social-icons {
  text-align: right; }

/* line 720, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #fff; }

/* line 729, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.copyright-text {
  margin: 0; }

@media (max-width: 991px) {
  /* line 733, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .site-footer {
    margin: 30px;
    text-align: center; } }

@media (max-width: 767px) {
  /* line 739, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .site-footer {
    margin: 10px;
    padding-bottom: 0; }
  /* line 743, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center; } }

/* line 748, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

/* line 753, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.social-icons li {
  display: inline-block;
  margin-bottom: 4px; }

/* line 757, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px; }

/* line 764, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

/* line 779, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe; }

/* line 785, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px; }

/* line 791, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.social-icons a.facebook:hover {
  background-color: #3b5998; }

/* line 794, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.social-icons a.twitter:hover {
  background-color: #00aced; }

/* line 797, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.social-icons a.linkedin:hover {
  background-color: #007bb6; }

/* line 800, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.social-icons a.dribbble:hover {
  background-color: #ea4c89; }

@media (max-width: 767px) {
  /* line 804, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600; } }

/* Terms and conditions */
/* line 813, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.termsand {
  background-color: #fff;
  padding: 70px; }
  /* line 817, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .termsand h4 {
    text-align: justify; }
  /* line 821, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .termsand p {
    text-align: justify;
    margin-bottom: 20px; }
  /* line 826, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .termsand .topterm {
    margin-top: 60px; }
  /* line 830, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .termsand .btn-hover {
    width: 200px;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }

/* Utility classes */
/* line 853, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.container {
  max-width: 1140px;
  margin: 0 auto; }

/* line 858, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.display-none {
  display: none; }

/* line 862, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.flex-row {
  display: flex; }

/* line 866, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.grid {
  display: grid; }

/* line 870, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.btn {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

/* line 889, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.rainbow:hover {
  background-image: linear-gradient(90deg, #3e851c 0%, #34982f 49%, #66c625 80%, #3e851c 100%);
  animation: slidebg 7s linear infinite; }

@keyframes slidebg {
  to {
    background-position: 20vw; } }

@keyframes slide {
  0% {
    transform: translateX(-25%); }
  100% {
    transform: translateX(25%); } }

/* line 915, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

/* line 934, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

/* line 942, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.btn-hover:focus {
  outline: none; }

/* line 946, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75); }

/* line 958, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.buttonform {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  margin-top: 20px;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

/* line 976, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.buttonform:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

/* line 984, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.buttonform:focus {
  outline: none; }

/* line 988, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.buttonform.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75); }

/* line 1002, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.imagecontainer img {
  height: 600px;
  width: auto; }

@media (max-width: 500px) {
  /* line 1008, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .imagecontainer img {
    height: 400px;
    width: auto; } }

@media (max-width: 900px) {
  /* line 1015, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .promotitle {
    margin-top: 80px; } }

/* line 1021, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
  font-size: 18px; }

/* line 1043, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.specialtext {
  color: #00aced; }

/*# sourceMappingURL=style.css.map */