@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* line 3, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

/* line 11, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
ul {
  list-style: none; }

/* line 15, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
a {
  text-decoration: none; }

/* line 19, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
h2 {
  font-weight: bold;
  font-size: 40px;
  color: #000;
  margin-bottom: 60px; }

/* line 26, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
h3 {
  font-weight: bold;
  color: #000;
  font-size: 24px;
  margin-bottom: 20px; }

/* line 33, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
h4 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
  color: #000; }

/* Multiple section idgaf */
/* line 42, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.about,
.services,
.brands {
  padding: 50px 20px; }
  @media (min-width: 900px) {
    /* line 42, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .about,
    .services,
    .brands {
      padding: 100px 20px; } }

/* Navigation Bar */
/* line 53, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
header {
  height: 79px;
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3); }
  /* line 61, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  header nav {
    display: flex;
    align-items: center;
    padding: 25px 10px; }
    /* line 66, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    header nav img {
      height: 25px; }
    /* line 70, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    header nav ul {
      flex: 1;
      justify-content: flex-end;
      display: none; }
      @media (min-width: 800px) {
        /* line 70, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
        header nav ul {
          display: flex; } }
      /* line 78, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      header nav ul a {
        color: #000;
        font-size: 14px;
        font-weight: 500;
        padding: 0 15px;
        margin-left: 15px; }

/* background */
/* line 91, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.8;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1; }

/* line 103, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s; }

/* line 108, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.bg3 {
  animation-duration: 5s; }

/* Hero */
/* line 114, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.hero {
  padding: 150px 0;
  background-color: #fff;
  display: flex;
  justify-content: center; }
  /* line 120, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .hero .flex-row {
    padding: 0 32px;
    gap: 32px;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 1000px) {
      /* line 120, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .hero .flex-row {
        flex-direction: row; } }
  /* line 130, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .hero h2 {
    color: #000;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 32px;
    text-align: center; }
    @media (min-width: 1000px) {
      /* line 130, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .hero h2 {
        text-align: initial;
        font-size: 50px; } }
  /* line 142, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .hero .left {
    flex: 1;
    order: 2;
    justify-content: center;
    align-items: center; }
    @media (min-width: 1000px) {
      /* line 142, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .hero .left {
        order: 1; } }
  /* line 152, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .hero .buttons {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 1000px) {
      /* line 152, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .hero .buttons {
        flex-direction: row; } }
    /* line 160, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .hero .buttons .btn {
      text-align: center;
      width: 200px;
      margin-bottom: 16px; }
      @media (min-width: 1000px) {
        /* line 160, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
        .hero .buttons .btn {
          margin-right: 16px; } }
  /* line 170, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .hero img {
    display: flex;
    flex: 1;
    order: 1;
    width: 50%; }
    @media (min-width: 1000px) {
      /* line 170, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .hero img {
        order: 2; } }

/* Info Section */
/* line 183, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.about {
  background-color: #fff; }
  /* line 186, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .about img {
    width: 60%; }
    @media (min-width: 900px) {
      /* line 186, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .about img {
        width: 100%; } }
  /* line 193, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .about h2 {
    text-align: center; }
  /* line 197, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .about p {
    line-height: 1.7; }
  /* line 201, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .about .flex-row {
    gap: 50px;
    flex-direction: column; }
    @media (min-width: 900px) {
      /* line 201, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .about .flex-row {
        flex-direction: row; } }
  /* line 209, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .about .left,
  .about .right {
    flex: 1; }
  /* line 215, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .about .left .flex-row {
    gap: 0;
    flex-direction: column;
    margin-top: 32px;
    align-items: center; }
    @media (min-width: 500px) {
      /* line 215, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .about .left .flex-row {
        flex-direction: row; } }
  /* line 225, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .about .left .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; }
    @media (min-width: 500px) {
      /* line 225, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .about .left .info {
        margin-top: 0;
        align-items: initial; } }
    /* line 236, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .about .left .info p {
      color: #444;
      font-size: 14px; }
  /* line 242, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .about .left i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 2px solid green;
    border-radius: 50%;
    transition: 500ms ease all;
    color: green;
    font-size: 24px; }
    @media (min-width: 500px) {
      /* line 242, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
      .about .left i {
        margin-right: 16px; } }
    /* line 257, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .about .left i:hover {
      background-color: green;
      border-color: transparent;
      color: #fff; }

/* line 267, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.about-1 .left {
  text-align: center; }
  @media (min-width: 500px) {
    /* line 267, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .about-1 .left {
      text-align: initial; } }

/* line 277, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.about-1 .right,
.about-3 .right {
  display: flex;
  justify-content: center; }
  @media (min-width: 900px) {
    /* line 277, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .about-1 .right,
    .about-3 .right {
      align-items: start; } }

/* line 287, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.about-2 .left {
  order: 2;
  display: flex;
  justify-content: center; }
  @media (min-width: 900px) {
    /* line 287, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .about-2 .left {
      order: 1;
      align-items: start; } }

/* line 297, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.about-2 .right {
  order: 1; }
  @media (min-width: 900px) {
    /* line 297, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .about-2 .right {
      order: 2; } }

/* line 305, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.about-2,
.about-3 {
  margin-bottom: 20px; }

/* line 311, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.services .container {
  max-width: 900px; }

/* line 315, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.services h2 {
  text-align: center;
  color: #fff; }

/* line 320, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.services .grid {
  max-width: 600px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  gap: 32px;
  row-gap: 50px; }
  @media (min-width: 800px) {
    /* line 320, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .services .grid {
      grid-template-columns: repeat(2, 1fr);
      max-width: 100%; } }

/* line 332, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.services .flex-row {
  cursor: pointer;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  border-radius: 12px;
  padding: 30px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  transition: 500ms ease all; }
  /* line 342, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .services .flex-row:hover {
    transform: translateY(-6px); }
  /* line 346, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .services .flex-row h3 {
    font-size: 18px;
    text-align: center; }
  /* line 351, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .services .flex-row p {
    font-size: 14px;
    line-height: 1.7; }
  /* line 356, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .services .flex-row .img {
    width: 50px;
    display: flex; }

/* Brands */
/* line 366, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.brands h2 {
  text-align: center;
  color: #fff;
  font-weight: 700; }

/* line 372, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.brands .flex-row {
  flex-wrap: wrap; }

/* line 376, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.brands .col {
  max-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #d6eaff;
  border-right: 1px solid #d6eaff;
  border-left: 1px solid #d6eaff;
  background-color: #fff;
  padding: 64px;
  flex-basis: 100%; }
  @media (min-width: 500px) {
    /* line 376, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .brands .col {
      border-left: none;
      flex-basis: 50%; } }
  @media (min-width: 900px) {
    /* line 376, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .brands .col {
      flex-basis: 25%; } }
  /* line 396, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .brands .col:hover img {
    transform: scale(1.4); }
  /* line 401, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .brands .col img {
    max-width: 100%;
    height: auto;
    transition: 500ms ease all; }
  /* line 407, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
  .brands .col .col:nth-child(1) {
    border-top: 1px solid #d6eaff; }
  @media (min-width: 500px) {
    /* line 411, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .brands .col .col:nth-child(2) {
      border-top: 1px solid #d6eaff; } }
  @media (min-width: 500px) {
    /* line 417, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .brands .col .col:nth-child(odd) {
      border-left: 1px solid #d6eaff; } }
  @media (min-width: 900px) {
    /* line 417, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .brands .col .col:nth-child(odd) {
      border-left: none; } }
  @media (min-width: 900px) {
    /* line 426, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .brands .col .col:nth-child(3),
    .brands .col .col:nth-child(4) {
      border-top: 1px solid #d6eaff; } }
  @media (min-width: 900px) {
    /* line 433, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
    .brands .col .col:nth-child(1),
    .brands .col .col:nth-child(5) {
      border-left: 1px solid #d6eaff; } }

/* Utility classes */
/* line 444, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.container {
  max-width: 1140px;
  margin: 0 auto; }

/* line 449, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.flex-row {
  display: flex; }

/* line 453, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.grid {
  display: grid; }

/* line 457, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 14px 40px;
  background-color: #0f480c;
  color: #fff;
  border-radius: 40px;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 500ms ease all; }

/* line 469, ../../GitHub/PromosRealvaInduvet/scss/style.scss */
.rainbow:hover {
  background-image: linear-gradient(90deg, #3e851c 0%, #34982f 49%, #66c625 80%, #3e851c 100%);
  animation: slidebg 7s linear infinite; }

@keyframes slidebg {
  to {
    background-position: 20vw; } }

@keyframes slide {
  0% {
    transform: translateX(-25%); }
  100% {
    transform: translateX(25%); } }

/*# sourceMappingURL=style.css.map */